@using HairSalon.Models
@model List<Client>

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="~/css/ClientIndex.css" />
    <meta charset='utf-8'>
  </head>
  <body>
    <div class="content-layout">
        @if (Model.Count == 0)
        {
          <p>This employee currently has no clients. Set one up below!</p>
        }
        else
        {
          <h1>Current Clients</h1>
          @foreach(Client client in Model)
          {
            <p id="client">@client.Name</p>
          }
        }
        @Html.ActionLink("Add a client", "Create")
        @Html.ActionLink("Back to Stylist", "Index", "Stylist")
    </div>
  </body>
</html>