@using HairSalon.Models
@model List<Stylist>

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/css/StylistIndex.css" />
  </head>

  <body>
    <div class="content-layout">
        <h1>Current Employees</h1>
        @if (Model.Count == 0)
        {
          <p>No current Stylists. Add one below!</p>
        }
        else
        {
          <ul>
            @foreach(Stylist stylist in Model)
            {
              <div class="stylist">
                  @Html.ActionLink(@stylist.Name, "Details", "Stylist", new { id = @stylist.StylistId })
              </div>
            }
          </ul>
        }
        
        <div class="action-link">
            @Html.ActionLink("Add Stylist", "Create", "Stylist")
        </div>
    </div>
  </body>
</html>